@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
@import url('//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #2f96a3!important;
  background-image: url('../images/crisp-paper-ruffles.png');
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

header {
  height: 10%;
  background-color: #008799;
  background-image: url('../images/otis-redding.png');
}

.logo {
  width:75px; 
  height:75px; 
  border:0; 
  border-radius: 35px;
}

.trophy {
  border: 1;
  border-radius: 40px;
}

.navbar-light .navbar-text a {
  color: #000036!important;
}

.navbar-text {
  display: inline-block;
  padding-top: .5rem;
  padding-bottom: .5rem;
  color: #000036!important;
  padding-left: 25px;
  cursor: pointer;
}

.navbar-text:hover {
  color: #000000 !important;
  cursor: pointer;  
}

.navbar{
  background-image: url('../images/otis-redding.png');
  background-color: #008799;
  color: #000036!important;
  font-size: 1.2em !important;
}

/* ----------------------- */
/* LOGIN CSS */
/* ----------------------- */

.login-container{
  margin-bottom: 5%;
}
.login-form-1{
  padding: 4%;
  background:#2f96a3;
  background-image: url('../images/otis-redding.png');
}
.login-form-1 h3{
  text-align: center;
  margin-bottom:6%;
  color:#000036;
}
.login-form-2{
  padding: 4%;
  background-image: url('../images/otis-redding.png');
  background: #008799;
}
.login-form-2 h3{
  text-align: center;
  margin-bottom:6%;
  color: #000036;
}
.btnSubmit{
  font-weight: bold;
  width: 30%;
  color: #000036;
  background-color: #dde7eb;
  border: none;
  padding:1%;
}


.footer {
  background-color: #008799;
  background-image: url('../images/otis-redding.png');
  height:30px; 
  width: 100%; 
  background-attachment: scroll;
  background-position: 0% 0%;
  padding-top: 3px;
  position: fixed;
  bottom: 0pt;
  left: 0pt;
}

/* ----------------------- */
/* WIN MODAL CSS */
/* ----------------------- */

.btn-primary {
  color: #000036 !important;
  background-color: #dde7eb !important;
  border-color: #008799 !important;
  margin-right: 10px;
}

.modal-dialog {
  position: relative;
  top: 15%;
}

.win {
  text-align: center;
  background-color: #2f96a3;
  background-image: url('../images/crisp-paper-ruffles.png');
  color: #000036 !important;
  border-style: dashed;
  border-radius: 8px;
  width:"300"; 
  height:"800";
  border-color: #dde7eb;
}

.win button{
  background-color: #dde7eb;
  color: #000036;
}

/* ----------------------- */
/* SHARE BTN CSS */
/* ----------------------- */

ul.share-buttons{
  list-style: none;
  padding: 0;
}

ul.share-buttons li{
  display: inline;
}

ul.share-buttons .sr-only{
  position: absolute;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

.avatar {
  max-width: 10% !important;
  height: auto;
}

a {
  color: #000036 !important;
}

.game-form{
  padding: 3%;
  margin: 5% 10%;
  background:#2f96a3;
  background-image: url('../images/otis-redding.png');
  color: #000036;
}

.form-item {
  position: relative;
}

.form-item .form-tip {
  visibility: hidden;
  background-color: #008799;
  width:200px;
  padding: 2px;
  color: #dde7eb;
  border-width: 1px;
  border-color: #dde7eb;
  text-align: center;
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 50%;
}

.form-item:hover .form-tip{
  visibility: visible;
  cursor: pointer;
}

.tip-image {
  margin: 3px;
  margin-right: 5px;
  height:16px;
  width:16px;
}

label {
  padding-right: 5px;
  color: #000036;
  font-weight: bold;
}


.setup-boxes {
  background-color: #dde7eb;
  color: #000036;
  font-size: 0.8em;
  border-style: none;
}

.choose_titles {
  background-color: #dde7eb;
  color: #000036;
  overflow-y: scroll;
  overflow-x: hidden;
  height: 80px;
  scrollbar-width: thin;
  scrollbar-color: #CFD8DC #90A4AE;
}

.choose_titles::-webkit-scrollbar {
  width: 11px;
}

.choose_titles::-webkit-scrollbar-track {
  background: #90A4AE;
}

.choose_titles::-webkit-scrollbar-thumb {
  background-color: #CFD8DC;
  border: 3px solive #90A4AE
}

.title-list {
  color: #000036;
}

.title-list:hover{
  color: black;
  background-color: #90A4AE;
  cursor: pointer;
}

.practice-state{
  color: #dde7eb;
  font-size: larger;
  font-weight: bolder;
}

.reading-section{
  background-image: url('../images/lined-paper.png');
  background-color: #dde7eb;
  width: 90%;
  height: 100px;
}

.easy {
  font-size: xx-large;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 25px;
  padding-bottom: 25px;
}

.medium {
  font-size: x-large;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.hard {
  font-size: medium;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 5px;
  padding-bottom: 20px;
}

.chart {
  margin-bottom: 20px;
  padding: 10;
}

.table-format {
  background-color: #dde7eb;
}

.chart_setup {
  height: 100px;
  width: 100px;
}

.reading-sound {
  cursor: pointer;
  line-height: 1.8;
  padding: 5px;
}

.media-control {
  padding-right: 7px;
  position: relative;
}

.media-control .tiptext {
  visibility: hidden;
  background-color: #008799;
  padding: 2px;
  color: #dde7eb;
  text-align: center;
  border-radius: 2px;
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 50%;
}

.media-control:hover .tiptext{
  visibility: visible;
}
