 .react-calendar-heatmap {
    width: 100%;
    height: 200px;
 }

 .react-calendar-heatmap text {
    font-size: 10px;
    fill: #000036;
  }
  
  .react-calendar-heatmap .react-calendar-heatmap-small-text {
    font-size: 5px;
  }
  
  .react-calendar-heatmap rect:hover {
    stroke: #555;
    stroke-width: 1px;
  }
  
  /*
   * Default color scale
   */
  
  .react-calendar-heatmap .color-empty {
    fill: #ffffff;
  }
  
  /* .react-calendar-heatmap .color-filled {
    fill: #8cc665;
  }
     */
  .react-calendar-heatmap .color-scale-0 {
    fill: #e3d1f2;
  }
  .react-calendar-heatmap .color-scale-1 {
    fill: #aa73d7;
  }
  .react-calendar-heatmap .color-scale-2 {
    fill: #9754ce;
  }
  .react-calendar-heatmap .color-scale-3 {
    fill: #6d2ea0;
  }
  .react-calendar-heatmap .color-scale-4 {
    fill: #592682;
  }
 